In [59]:
import pandas as pd
import selenium
from selenium.webdriver.firefox.firefox_profile import FirefoxProfile

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import multiprocessing
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from multiprocessing import Pool
import numpy as np
import time

from selenium.common.exceptions import TimeoutException, ElementNotInteractableException, ElementClickInterceptedException

In [2]:
import sys
from pathlib import Path
sys.path.append(str(Path("../lib/").absolute()))

In [45]:
profile = FirefoxProfile()
profile.set_preference("javascript.enabled", True)
driver = webdriver.Firefox(profile)
driver.implicitly_wait(10)
driver.get("https://www.openstreetmap.org/")

In [69]:
def run_scraper(coords):
    profile = FirefoxProfile()
    profile.set_preference("javascript.enabled", True)
    driver = webdriver.Firefox(profile)
    driver.implicitly_wait(10)
    driver.get("https://www.openstreetmap.org/")
    
    # close the popups
    for elem in driver.find_elements_by_class_name('close-wrap'):
        try:
            elem.click()
        except (ElementNotInteractableException, ElementClickInterceptedException) as e:
            pass
    
    for interid, lat, lon, zoom in coords:
        driver.get("https://www.openstreetmap.org/#map=%d/%f/%f" % (zoom, lat, lon))
        time.sleep(3)
        driver.save_screenshot("screenshots/%d*%d.png" % (interid, zoom))
    
    driver.quit()

In [65]:
def scrape_pool(all_coords, num_processes=2):
    pool = Pool(num_processes)
    manager = multiprocessing.Manager()
    coords = np.array_split(all_coords, num_processes)

    for i in range(num_processes):
        pool.apply_async(run_scraper, args=(coords[i], ))

    pool.close()
    pool.join()

In [17]:
orig_train = pd.read_csv('train.csv')
orig_test = pd.read_csv('test.csv')

In [40]:
relevant_columns = ['IntersectionId', 'Latitude', 'Longitude']
full_df = pd.concat([orig_train[relevant_columns], orig_test[relevant_columns]]) \
            .drop_duplicates(['IntersectionId'])
full_df['zoom'] = 16

In [42]:
full_df

         IntersectionId  Latitude  Longitude  zoom
0                     0  33.79166  -84.43003    16
654                   1  33.75094  -84.39303    16
1011                  2  33.74014  -84.31389    16
1337                  4  33.81767  -84.36696    16
2882                  5  33.77124  -84.38884    16
3651                  6  33.75712  -84.38424    16
3847                  9  33.81100  -84.41280    16
4029                 10  33.65287  -84.39762    16
4187                 11  33.74027  -84.34924    16
4684                 13  33.78177  -84.36868    16
5153                 14  33.65538  -84.51293    16
5582                 15  33.74690  -84.38384    16
5906                 20  33.78151  -84.38917    16
6686                 24  33.75556  -84.38427    16
6904                 26  33.68637  -84.49125    16
7179                 27  33.75207  -84.39214    16
7493                 29  33.74732  -84.31451    16
7789                 31  33.76910  -84.35253    16
8364                 32  33.77278  -84.42508    16
8963                 33  33.77109  -84.35945    16
9591                 35  33.75549  -84.37438    16
9831                 41  33.75364  -84.47294    16
10066                42  33.74628  -84.40657    16
10603                43  33.73040  -84.38795    16
10839                44  33.79901  -84.37049    16
11494                45  33.76486  -84.33300    16
11599                46  33.78151  -84.39773    16
11846                47  33.75312  -84.38764    16
12116                49  33.75444  -84.38984    16
12520                50  33.73684  -84.38787    16
...                 ...       ...        ...   ...
1036142            2787  41.97534  -87.74798    16
1036568            2788  41.93845  -87.77621    16
1037266            2794  41.95345  -87.74460    16
1038568            2801  41.92518  -87.66576    16
1038751            2802  41.93967  -87.67109    16
1039042            2806  41.97992  -87.75935    16
1039474            2810  41.92498  -87.68191    16
1039739            2813  41.94594  -87.70781    16
1040182            2817  41.93649  -87.64428    16
1041097            2828  41.93505  -87.75656    16
1041160            2829  41.96589  -87.73691    16
1041344            2833  41.99887  -87.66064    16
1042425            2843  41.93217  -87.68788    16
1043197            2847  41.99739  -87.70935    16
1043561            2848  41.99820  -87.65866    16
1044753            2857  42.00521  -87.68018    16
1044883            2858  41.96051  -87.76478    16
1045200            2861  41.92073  -87.66317    16
1045343            2863  41.94150  -87.66993    16
1045658            2871  41.95401  -87.69324    16
1045948            2872  42.00889  -87.68186    16
1346372             642  40.10140  -75.00626    16
1654214            1361  40.03596  -75.04245    16
1682993            1429  40.05455  -75.01023    16
1684892            1436  40.02164  -75.13961    16
1759860            1615  40.06251  -75.04319    16
1779648            1662  40.05671  -75.23604    16
1836601            1804  40.04813  -75.01322    16
1845749            1825  40.02931  -75.18860    16
1908233            1961  40.09450  -75.01533    16

[2839 rows x 4 columns]

In [71]:
full_df[full_df['IntersectionId'] == 802]

        IntersectionId  Latitude  Longitude  zoom
275971             802  42.34023  -71.10589    16

In [70]:
scrape_pool(full_df.drop_duplicates().values, num_processes=4)